/* none bg */
.si-bg-none {
	--bg-color: rgba(0, 0, 0, 0);
	--border-color: rgba(0, 0, 0, 0);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(0, 0, 0, 0);
	--bg-active-color: rgba(0, 0, 0, 0);
}
/* none bg END */

/* bg */
.si-bg-red {
	--bg-color: rgba(255, 0, 0, 1);
	--border-color: rgba(255, 0, 0, 1);
	--box-shadow-color: rgba(255, 0, 0, 1);
	--bg-hover-color: rgba(255, 0, 0, .85);
	--bg-active-color: rgba(255, 0, 0, .95);
}
.si-bg-pink {
	--bg-color: rgba(255, 192, 203, 1);
	--border-color: rgba(255, 192, 203, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(255, 192, 203, .85);
	--bg-active-color: rgba(255, 192, 203, .95);
}
.si-bg-light-purple {
	--bg-color: rgba(230, 91, 217, 1);
	--border-color: rgba(230, 91, 217, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(230, 91, 217, .85);
	--bg-active-color: rgba(230, 91, 217, .95);
}
.si-bg-purple {
	--bg-color: rgba(128, 0, 128, 1);
	--border-color: rgba(128, 0, 128, 1);
	--box-shadow-color: rgba(128, 0, 128, 1);
	--bg-hover-color: rgba(128, 0, 128, .85);
	--bg-active-color: rgba(128, 0, 128, .95);
}
.si-bg-deep-purple {
	--bg-color: rgba(103, 58, 102, 1);
	--border-color: rgba(103, 58, 102, 1);
	--box-shadow-color: rgba(103, 58, 102, 1);
	--bg-hover-color: rgba(103, 58, 102, .85);
	--bg-active-color: rgba(103, 58, 102, .95);
}
.si-bg-indigo {
	--bg-color: rgba(75, 0, 130, 1);
	--border-color: rgba(75, 0, 130, 1);
	--box-shadow-color: rgba(75, 0, 130, 1);
	--bg-hover-color: rgba(75, 0, 130, .85);
	--bg-active-color: rgba(75, 0, 130, .95);
}
.si-bg-blue {
	--bg-color: rgba(0, 0, 255, 1);
	--border-color: rgba(0, 0, 255, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(0, 0, 255, .85);
	--bg-active-color: rgba(0, 0, 255, .95);
}
.si-bg-light-blue {
	--bg-color: rgba(3, 168, 243, 1);
	--border-color: rgba(3, 168, 243, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(3, 168, 243, .85);
	--bg-active-color: rgba(3, 168, 243, .95);
}
.si-bg-sky-blue {
	--bg-color: rgba(135, 206, 250, 1);
	--border-color: rgba(135, 206, 250, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(135, 206, 250, .85);
	--bg-active-color: rgba(135, 206, 250, .95);
}
.si-bg-cyan {
	--bg-color: rgba(0, 255, 255, 1);
	--border-color: rgba(0, 255, 255, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(0, 255, 255, .85);
	--bg-active-color: rgba(0, 255, 255, .95);
}
.si-bg-teal {
	--bg-color: rgba(0, 128, 128, 1);
	--border-color: rgba(0, 128, 128, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(0, 128, 128, .85);
	--bg-active-color: rgba(0, 128, 128, .95);
}
.si-bg-green {
	--bg-color: rgba(0, 128, 0, 1);
	--border-color: rgba(0, 128, 0, 1);
	--box-shadow-color: rgba(0, 128, 0, 1);
	--bg-hover-color: rgba(0, 128, 0, .85);
	--bg-active-color: rgba(0, 128, 0, .95);
}
.si-bg-light-green {
	--bg-color: rgba(138, 194, 74, 1);
	--border-color: rgba(138, 194, 74, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(138, 194, 74, .85);
	--bg-active-color: rgba(138, 194, 74, .95);
}
.si-bg-lime {
	--bg-color: rgba(0, 255, 0, 1);
	--border-color: rgba(0, 255, 0, 1);
	--box-shadow-color: rgba(0, 255, 0, 1);
	--bg-hover-color: rgba(0, 255, 0, .85);
	--bg-active-color: rgba(0, 255, 0, .95);
}
.si-bg-yellow {
	--bg-color: rgba(255, 255, 0, 1);
	--border-color: rgba(255, 255, 0, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(255, 255, 0, .85);
	--bg-active-color: rgba(255, 255, 0, .95);
}
.si-bg-amber {
	--bg-color: rgba(254, 192, 7, 1);
	--border-color: rgba(254, 192, 7, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(254, 192, 7, .85);
	--bg-active-color: rgba(254, 192, 7, .95);
}
.si-bg-orange {
	--bg-color: rgba(255, 165, 0, 1);
	--border-color: rgba(255, 165, 0, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(255, 165, 0, .85);
	--bg-active-color: rgba(255, 165, 0, .95);
}
.si-bg-deep-orange {
	--bg-color: rgba(254, 87, 34, 1);
	--border-color: rgba(254, 87, 34, 1);
	--box-shadow-color: rgba(254, 87, 34, 1);
	--bg-hover-color: rgba(254, 87, 34, .85);
	--bg-active-color: rgba(254, 87, 34, .95);
}
.si-bg-brown {
	--bg-color: rgba(165, 42, 42, 1);
	--border-color: rgba(165, 42, 42, 1);
	--box-shadow-color: rgba(165, 42, 42, 1);
	--bg-hover-color: rgba(165, 42, 42, .85);
	--bg-active-color: rgba(165, 42, 42, .95);
}
.si-bg-light-gray {
	--bg-color: rgba(203, 203, 203, 1);
	--border-color: rgba(203, 203, 203, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(203, 203, 203, .85);
	--bg-active-color: rgba(203, 203, 203, .95);
}
.si-bg-gray {
	--bg-color: rgba(128, 128, 128, 1);
	--border-color: rgba(128, 128, 128, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(128, 128, 128, .85);
	--bg-active-color: rgba(128, 128, 128, .95);
}
.si-bg-blue-gray {
	--bg-color: rgba(96, 125, 138, 1);
	--border-color: rgba(96, 125, 138, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(96, 125, 138, .85);
	--bg-active-color: rgba(96, 125, 138, .95);
}
.si-bg-white {
	--bg-color: rgba(255, 255, 255, 1);
	--border-color: rgba(255, 255, 255, 1);
	--box-shadow-color: rgba(168, 168, 168, 1);
	--bg-hover-color: rgba(255, 255, 255, .85);
	--bg-active-color: rgba(255, 255, 255, .95);
}
.si-bg-black {
	--bg-color: rgba(0, 0, 0, 1);
	--border-color: rgba(0, 0, 0, 1);
	--box-shadow-color: rgba(0, 0, 0, 1);
	--bg-hover-color: rgba(0, 0, 0, .85);
	--bg-active-color: rgba(0, 0, 0, .95);
}
/* bg END */

/* bg-lighten-1 */
.si-bg-red-lighten-1 {
	--bg-color: rgba(255, 0, 0, .95);
	--border-color: rgba(255, 0, 0, .95);
	--box-shadow-color: rgba(255, 0, 0, .95);
	--bg-hover-color: rgba(255, 0, 0, .85);
	--bg-active-color: rgba(255, 0, 0, .65);
}
.si-bg-pink-lighten-1 {
	--bg-color: rgba(255, 192, 203, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(255, 192, 203, .85);
	--bg-active-color: rgba(255, 192, 203, .65);
}
.si-bg-light-purple-lighten-1 {
	--bg-color: rgba(230, 91, 217, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(230, 91, 217, .85);
	--bg-active-color: rgba(230, 91, 217, .65);
}
.si-bg-purple-lighten-1 {
	--bg-color: rgba(128, 0, 128, .95);
	--border-color: rgba(128, 0, 128, .95);
	--box-shadow-color: rgba(128, 0, 128, .95);
	--bg-hover-color: rgba(128, 0, 128, .85);
	--bg-active-color: rgba(128, 0, 128, .65);
}
.si-bg-deep-purple-lighten-1 {
	--bg-color: rgba(103, 58, 102, .95);
	--border-color: rgba(103, 58, 102, .95);
	--box-shadow-color: rgba(103, 58, 102, .95);
	--bg-hover-color: rgba(103, 58, 102, .85);
	--bg-active-color: rgba(103, 58, 102, .65);
}
.si-bg-indigo-lighten-1 {
	--bg-color: rgba(75, 0, 130, .95);
	--border-color: rgba(75, 0, 130, .95);
	--box-shadow-color: rgba(75, 0, 130, .95);
	--bg-hover-color: rgba(75, 0, 130, .85);
	--bg-active-color: rgba(75, 0, 130, .65);
}
.si-bg-blue-lighten-1 {
	--bg-color: rgba(0, 0, 255, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(0, 0, 255, .85);
	--bg-active-color: rgba(0, 0, 255, .65);
}
.si-bg-light-blue-lighten-1 {
	--bg-color: rgba(3, 168, 243, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(3, 168, 243, .85);
	--bg-active-color: rgba(3, 168, 243, .65);
}
.si-bg-sky-blue-lighten-1 {
	--bg-color: rgba(135, 206, 250, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(135, 206, 250, .85);
	--bg-active-color: rgba(135, 206, 250, .65);
}
.si-bg-cyan-lighten-1 {
	--bg-color: rgba(0, 255, 255, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(0, 255, 255, .85);
	--bg-active-color: rgba(0, 255, 255, .65);
}
.si-bg-teal-lighten-1 {
	--bg-color: rgba(0, 128, 128, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(0, 128, 128, .85);
	--bg-active-color: rgba(0, 128, 128, .65);
}
.si-bg-green-lighten-1 {
	--bg-color: rgba(0, 128, 0, .95);
	--border-color: rgba(0, 128, 0, .95);
	--box-shadow-color: rgba(0, 128, 0, .95);
	--bg-hover-color: rgba(0, 128, 0, .85);
	--bg-active-color: rgba(0, 128, 0, .65);
}
.si-bg-light-green-lighten-1 {
	--bg-color: rgba(138, 194, 74, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(138, 194, 74, .85);
	--bg-active-color: rgba(138, 194, 74, .65);
}
.si-bg-lime-lighten-1 {
	--bg-color: rgba(0, 255, 0, .95);
	--border-color: rgba(0, 255, 0, .95);
	--box-shadow-color: rgba(0, 255, 0, .95);
	--bg-hover-color: rgba(0, 255, 0, .85);
	--bg-active-color: rgba(0, 255, 0, .65);
}
.si-bg-yellow-lighten-1 {
	--bg-color: rgba(255, 255, 0, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(255, 255, 0, .85);
	--bg-active-color: rgba(255, 255, 0, .65);
}
.si-bg-amber-lighten-1 {
	--bg-color: rgba(254, 192, 7, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(254, 192, 7, .85);
	--bg-active-color: rgba(254, 192, 7, .65);
}
.si-bg-orange-lighten-1 {
	--bg-color: rgba(255, 165, 0, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(255, 165, 0, .85);
	--bg-active-color: rgba(255, 165, 0, .65);
}
.si-bg-deep-orange-lighten-1 {
	--bg-color: rgba(254, 87, 34, .95);
	--border-color: rgba(254, 87, 34, .95);
	--box-shadow-color: rgba(254, 87, 34, .95);
	--bg-hover-color: rgba(254, 87, 34, .85);
	--bg-active-color: rgba(254, 87, 34, .65);
}
.si-bg-brown-lighten-1 {
	--bg-color: rgba(165, 42, 42, .95);
	--border-color: rgba(165, 42, 42, .95);
	--box-shadow-color: rgba(165, 42, 42, .95);
	--bg-hover-color: rgba(165, 42, 42, .85);
	--bg-active-color: rgba(165, 42, 42, .65);
}
.si-bg-light-gray-lighten-1 {
	--bg-color: rgba(203, 203, 203, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(203, 203, 203, .85);
	--bg-active-color: rgba(203, 203, 203, .65);
}
.si-bg-gray-lighten-1 {
	--bg-color: rgba(128, 128, 128, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(128, 128, 128, .85);
	--bg-active-color: rgba(128, 128, 128, .65);
}
.si-bg-blue-gray-lighten-1 {
	--bg-color: rgba(96, 125, 138, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(96, 125, 138, .85);
	--bg-active-color: rgba(96, 125, 138, .65);
}
.si-bg-white-lighten-1 {
	--bg-color: rgba(255, 255, 255, .95);
	--border-color: rgba(168, 168, 168, .95);
	--box-shadow-color: rgba(168, 168, 168, .95);
	--bg-hover-color: rgba(255, 255, 255, .85);
	--bg-active-color: rgba(255, 255, 255, .65);
}
.si-bg-black-lighten-1 {
	--bg-color: rgba(0, 0, 0, .95);
	--border-color: rgba(0, 0, 0, .95);
	--box-shadow-color: rgba(0, 0, 0, .95);
	--bg-hover-color: rgba(0, 0, 0, .85);
	--bg-active-color: rgba(0, 0, 0, .65);
}
/* bg-lighten-1 END */

/* bg-lighten-2 */
.si-bg-red-lighten-2 {
	--bg-color: rgba(255, 0, 0, .85);
	--border-color: rgba(255, 0, 0, .85);
	--box-shadow-color: rgba(255, 0, 0, .85);
	--bg-hover-color: rgba(255, 0, 0, .65);
	--bg-active-color: rgba(255, 0, 0, .45);
}
.si-bg-pink-lighten-2 {
	--bg-color: rgba(255, 192, 203, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(255, 192, 203, .65);
	--bg-active-color: rgba(255, 192, 203, .45);
}
.si-bg-light-purple-lighten-2 {
	--bg-color: rgba(230, 91, 217, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(230, 91, 217, .65);
	--bg-active-color: rgba(230, 91, 217, .45);
}
.si-bg-purple-lighten-2 {
	--bg-color: rgba(128, 0, 128, .85);
	--border-color: rgba(128, 0, 128, .85);
	--box-shadow-color: rgba(128, 0, 128, .85);
	--bg-hover-color: rgba(128, 0, 128, .65);
	--bg-active-color: rgba(128, 0, 128, .45);
}
.si-bg-deep-purple-lighten-2 {
	--bg-color: rgba(103, 58, 102, .85);
	--border-color: rgba(103, 58, 102, .85);
	--box-shadow-color: rgba(103, 58, 102, .85);
	--bg-hover-color: rgba(103, 58, 102, .65);
	--bg-active-color: rgba(103, 58, 102, .45);
}
.si-bg-indigo-lighten-2 {
	--bg-color: rgba(75, 0, 130, .85);
	--border-color: rgba(75, 0, 130, .85);
	--box-shadow-color: rgba(75, 0, 130, .85);
	--bg-hover-color: rgba(75, 0, 130, .65);
	--bg-active-color: rgba(75, 0, 130, .45);
}
.si-bg-blue-lighten-2 {
	--bg-color: rgba(0, 0, 255, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(0, 0, 255, .65);
	--bg-active-color: rgba(0, 0, 255, .45);
}
.si-bg-light-blue-lighten-2 {
	--bg-color: rgba(3, 168, 243, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(3, 168, 243, .65);
	--bg-active-color: rgba(3, 168, 243, .45);
}
.si-bg-sky-blue-lighten-2 {
	--bg-color: rgba(135, 206, 250, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(135, 206, 250, .65);
	--bg-active-color: rgba(135, 206, 250, .45);
}
.si-bg-cyan-lighten-2 {
	--bg-color: rgba(0, 255, 255, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(0, 255, 255, .65);
	--bg-active-color: rgba(0, 255, 255, .45);
}
.si-bg-teal-lighten-2 {
	--bg-color: rgba(0, 128, 128, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(0, 128, 128, .65);
	--bg-active-color: rgba(0, 128, 128, .45);
}
.si-bg-green-lighten-2 {
	--bg-color: rgba(0, 128, 0, .85);
	--border-color: rgba(0, 128, 0, .85);
	--box-shadow-color: rgba(0, 128, 0, .85);
	--bg-hover-color: rgba(0, 128, 0, .65);
	--bg-active-color: rgba(0, 128, 0, .45);
}
.si-bg-light-green-lighten-2 {
	--bg-color: rgba(138, 194, 74, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(138, 194, 74, .65);
	--bg-active-color: rgba(138, 194, 74, .45);
}
.si-bg-lime-lighten-2 {
	--bg-color: rgba(0, 255, 0, .85);
	--border-color: rgba(0, 255, 0, .85);
	--box-shadow-color: rgba(0, 255, 0, .85);
	--bg-hover-color: rgba(0, 255, 0, .65);
	--bg-active-color: rgba(0, 255, 0, .45);
}
.si-bg-yellow-lighten-2 {
	--bg-color: rgba(255, 255, 0, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(255, 255, 0, .65);
	--bg-active-color: rgba(255, 255, 0, .45);
}
.si-bg-amber-lighten-2 {
	--bg-color: rgba(254, 192, 7, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(254, 192, 7, .65);
	--bg-active-color: rgba(254, 192, 7, .45);
}
.si-bg-orange-lighten-2 {
	--bg-color: rgba(255, 165, 0, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(255, 165, 0, .65);
	--bg-active-color: rgba(255, 165, 0, .45);
}
.si-bg-deep-orange-lighten-2 {
	--bg-color: rgba(254, 87, 34, .85);
	--border-color: rgba(254, 87, 34, .85);
	--box-shadow-color: rgba(254, 87, 34, .85);
	--bg-hover-color: rgba(254, 87, 34, .65);
	--bg-active-color: rgba(254, 87, 34, .45);
}
.si-bg-brown-lighten-2 {
	--bg-color: rgba(165, 42, 42, .85);
	--border-color: rgba(165, 42, 42, .85);
	--box-shadow-color: rgba(165, 42, 42, .85);
	--bg-hover-color: rgba(165, 42, 42, .65);
	--bg-active-color: rgba(165, 42, 42, .45);
}
.si-bg-light-gray-lighten-2 {
	--bg-color: rgba(203, 203, 203, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(203, 203, 203, .65);
	--bg-active-color: rgba(203, 203, 203, .45);
}
.si-bg-gray-lighten-2 {
	--bg-color: rgba(128, 128, 128, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(128, 128, 128, .65);
	--bg-active-color: rgba(128, 128, 128, .45);
}
.si-bg-blue-gray-lighten-2 {
	--bg-color: rgba(96, 125, 138, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(96, 125, 138, .65);
	--bg-active-color: rgba(96, 125, 138, .45);
}
.si-bg-white-lighten-2 {
	--bg-color: rgba(255, 255, 255, .85);
	--border-color: rgba(168, 168, 168, .85);
	--box-shadow-color: rgba(168, 168, 168, .85);
	--bg-hover-color: rgba(255, 255, 255, .65);
	--bg-active-color: rgba(255, 255, 255, .45);
}
.si-bg-black-lighten-2 {
	--bg-color: rgba(0, 0, 0, .85);
	--border-color: rgba(0, 0, 0, .85);
	--box-shadow-color: rgba(0, 0, 0, .85);
	--bg-hover-color: rgba(0, 0, 0, .65);
	--bg-active-color: rgba(0, 0, 0, .45);
}
/* bg-lighten-2 END */

/* bg-lighten-3 */
.si-bg-red-lighten-3 {
	--bg-color: rgba(255, 0, 0, .65);
	--border-color: rgba(255, 0, 0, .65);
	--box-shadow-color: rgba(255, 0, 0, .65);
	--bg-hover-color: rgba(255, 0, 0, .95);
	--bg-active-color: rgba(255, 0, 0, .85);
}
.si-bg-pink-lighten-3 {
	--bg-color: rgba(255, 192, 203, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(255, 192, 203, .95);
	--bg-active-color: rgba(255, 192, 203, .85);
}
.si-bg-light-purple-lighten-3 {
	--bg-color: rgba(230, 91, 217, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(230, 91, 217, .95);
	--bg-active-color: rgba(230, 91, 217, .85);
}
.si-bg-purple-lighten-3 {
	--bg-color: rgba(128, 0, 128, .65);
	--border-color: rgba(128, 0, 128, .65);
	--box-shadow-color: rgba(128, 0, 128, .65);
	--bg-hover-color: rgba(128, 0, 128, .95);
	--bg-active-color: rgba(128, 0, 128, .85);
}
.si-bg-deep-purple-lighten-3 {
	--bg-color: rgba(103, 58, 102, .65);
	--border-color: rgba(103, 58, 102, .65);
	--box-shadow-color: rgba(103, 58, 102, .65);
	--bg-hover-color: rgba(103, 58, 102, .95);
	--bg-active-color: rgba(103, 58, 102, .85);
}
.si-bg-indigo-lighten-3 {
	--bg-color: rgba(75, 0, 130, .65);
	--border-color: rgba(75, 0, 130, .65);
	--box-shadow-color: rgba(75, 0, 130, .65);
	--bg-hover-color: rgba(75, 0, 130, .95);
	--bg-active-color: rgba(75, 0, 130, .85);
}
.si-bg-blue-lighten-3 {
	--bg-color: rgba(0, 0, 255, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(0, 0, 255, .95);
	--bg-active-color: rgba(0, 0, 255, .85);
}
.si-bg-light-blue-lighten-3 {
	--bg-color: rgba(3, 168, 243, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(3, 168, 243, .95);
	--bg-active-color: rgba(3, 168, 243, .85);
}
.si-bg-sky-blue-lighten-3 {
	--bg-color: rgba(135, 206, 250, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(135, 206, 250, .95);
	--bg-active-color: rgba(135, 206, 250, .85);
}
.si-bg-cyan-lighten-3 {
	--bg-color: rgba(0, 255, 255, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(0, 255, 255, .95);
	--bg-active-color: rgba(0, 255, 255, .85);
}
.si-bg-teal-lighten-3 {
	--bg-color: rgba(0, 128, 128, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(0, 128, 128, .95);
	--bg-active-color: rgba(0, 128, 128, .85);
}
.si-bg-green-lighten-3 {
	--bg-color: rgba(0, 128, 0, .65);
	--border-color: rgba(0, 128, 0, .65);
	--box-shadow-color: rgba(0, 128, 0, .65);
	--bg-hover-color: rgba(0, 128, 0, .95);
	--bg-active-color: rgba(0, 128, 0, .85);
}
.si-bg-light-green-lighten-3 {
	--bg-color: rgba(138, 194, 74, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(138, 194, 74, .95);
	--bg-active-color: rgba(138, 194, 74, .85);
}
.si-bg-lime-lighten-3 {
	--bg-color: rgba(0, 255, 0, .65);
	--border-color: rgba(0, 255, 0, .65);
	--box-shadow-color: rgba(0, 255, 0, .65);
	--bg-hover-color: rgba(0, 255, 0, .95);
	--bg-active-color: rgba(0, 255, 0, .85);
}
.si-bg-yellow-lighten-3 {
	--bg-color: rgba(255, 255, 0, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(255, 255, 0, .95);
	--bg-active-color: rgba(255, 255, 0, .85);
}
.si-bg-amber-lighten-3 {
	--bg-color: rgba(254, 192, 7, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(254, 192, 7, .95);
	--bg-active-color: rgba(254, 192, 7, .85);
}
.si-bg-orange-lighten-3 {
	--bg-color: rgba(255, 165, 0, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(255, 165, 0, .95);
	--bg-active-color: rgba(255, 165, 0, .85);
}
.si-bg-deep-orange-lighten-3 {
	--bg-color: rgba(254, 87, 34, .65);
	--border-color: rgba(254, 87, 34, .65);
	--box-shadow-color: rgba(254, 87, 34, .65);
	--bg-hover-color: rgba(254, 87, 34, .95);
	--bg-active-color: rgba(254, 87, 34, .85);
}
.si-bg-brown-lighten-3 {
	--bg-color: rgba(165, 42, 42, .65);
	--border-color: rgba(165, 42, 42, .65);
	--box-shadow-color: rgba(165, 42, 42, .65);
	--bg-hover-color: rgba(165, 42, 42, .95);
	--bg-active-color: rgba(165, 42, 42, .85);
}
.si-bg-light-gray-lighten-3 {
	--bg-color: rgba(203, 203, 203, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(203, 203, 203, .95);
	--bg-active-color: rgba(203, 203, 203, .85);
}
.si-bg-gray-lighten-3 {
	--bg-color: rgba(128, 128, 128, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(128, 128, 128, .95);
	--bg-active-color: rgba(128, 128, 128, .85);
}
.si-bg-blue-gray-lighten-3 {
	--bg-color: rgba(96, 125, 138, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(96, 125, 138, .95);
	--bg-active-color: rgba(96, 125, 138, .85);
}
.si-bg-white-lighten-3 {
	--bg-color: rgba(255, 255, 255, .65);
	--border-color: rgba(168, 168, 168, .65);
	--box-shadow-color: rgba(168, 168, 168, .65);
	--bg-hover-color: rgba(255, 255, 255, .95);
	--bg-active-color: rgba(255, 255, 255, .85);
}
.si-bg-black-lighten-3 {
	--bg-color: rgba(0, 0, 0, .65);
	--border-color: rgba(0, 0, 0, .65);
	--box-shadow-color: rgba(0, 0, 0, .65);
	--bg-hover-color: rgba(0, 0, 0, .95);
	--bg-active-color: rgba(0, 0, 0, .85);
}
/* bg-lighten-3 END */

/* bg-lighten-4 */
.si-bg-red-lighten-4 {
	--bg-color: rgba(255, 0, 0, .45);
	--border-color: rgba(255, 0, 0, .45);
	--box-shadow-color: rgba(255, 0, 0, .45);
	--bg-hover-color: rgba(255, 0, 0, .85);
	--bg-active-color: rgba(255, 0, 0, .65);
}
.si-bg-pink-lighten-4 {
	--bg-color: rgba(255, 192, 203, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(255, 192, 203, .85);
	--bg-active-color: rgba(255, 192, 203, .65);
}
.si-bg-light-purple-lighten-4 {
	--bg-color: rgba(230, 91, 217, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(230, 91, 217, .85);
	--bg-active-color: rgba(230, 91, 217, .65);
}
.si-bg-purple-lighten-4 {
	--bg-color: rgba(128, 0, 128, .45);
	--border-color: rgba(128, 0, 128, .45);
	--box-shadow-color: rgba(128, 0, 128, .45);
	--bg-hover-color: rgba(128, 0, 128, .85);
	--bg-active-color: rgba(128, 0, 128, .65);
}
.si-bg-deep-purple-lighten-4 {
	--bg-color: rgba(103, 58, 102, .45);
	--border-color: rgba(103, 58, 102, .45);
	--box-shadow-color: rgba(103, 58, 102, .45);
	--bg-hover-color: rgba(103, 58, 102, .85);
	--bg-active-color: rgba(103, 58, 102, .65);
}
.si-bg-indigo-lighten-4 {
	--bg-color: rgba(75, 0, 130, .45);
	--border-color: rgba(75, 0, 130, .45);
	--box-shadow-color: rgba(75, 0, 130, .45);
	--bg-hover-color: rgba(75, 0, 130, .85);
	--bg-active-color: rgba(75, 0, 130, .65);
}
.si-bg-blue-lighten-4 {
	--bg-color: rgba(0, 0, 255, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(0, 0, 255, .85);
	--bg-active-color: rgba(0, 0, 255, .65);
}
.si-bg-light-blue-lighten-4 {
	--bg-color: rgba(3, 168, 243, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(3, 168, 243, .85);
	--bg-active-color: rgba(3, 168, 243, .65);
}
.si-bg-sky-blue-lighten-4 {
	--bg-color: rgba(135, 206, 250, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(135, 206, 250, .85);
	--bg-active-color: rgba(135, 206, 250, .65);
}
.si-bg-cyan-lighten-4 {
	--bg-color: rgba(0, 255, 255, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(0, 255, 255, .85);
	--bg-active-color: rgba(0, 255, 255, .65);
}
.si-bg-teal-lighten-4 {
	--bg-color: rgba(0, 128, 128, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(0, 128, 128, .85);
	--bg-active-color: rgba(0, 128, 128, .65);
}
.si-bg-green-lighten-4 {
	--bg-color: rgba(0, 128, 0, .45);
	--border-color: rgba(0, 128, 0, .45);
	--box-shadow-color: rgba(0, 128, 0, .45);
	--bg-hover-color: rgba(0, 128, 0, .85);
	--bg-active-color: rgba(0, 128, 0, .65);
}
.si-bg-light-green-lighten-4 {
	--bg-color: rgba(138, 194, 74, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(138, 194, 74, .85);
	--bg-active-color: rgba(138, 194, 74, .65);
}
.si-bg-lime-lighten-4 {
	--bg-color: rgba(0, 255, 0, .45);
	--border-color: rgba(0, 255, 0, .45);
	--box-shadow-color: rgba(0, 255, 0, .45);
	--bg-hover-color: rgba(0, 255, 0, .85);
	--bg-active-color: rgba(0, 255, 0, .65);
}
.si-bg-yellow-lighten-4 {
	--bg-color: rgba(255, 255, 0, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(255, 255, 0, .85);
	--bg-active-color: rgba(255, 255, 0, .65);
}
.si-bg-amber-lighten-4 {
	--bg-color: rgba(254, 192, 7, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(254, 192, 7, .85);
	--bg-active-color: rgba(254, 192, 7, .65);
}
.si-bg-orange-lighten-4 {
	--bg-color: rgba(255, 165, 0, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(255, 165, 0, .85);
	--bg-active-color: rgba(255, 165, 0, .65);
}
.si-bg-deep-orange-lighten-4 {
	--bg-color: rgba(254, 87, 34, .45);
	--border-color: rgba(254, 87, 34, .45);
	--box-shadow-color: rgba(254, 87, 34, .45);
	--bg-hover-color: rgba(254, 87, 34, .85);
	--bg-active-color: rgba(254, 87, 34, .65);
}
.si-bg-brown-lighten-4 {
	--bg-color: rgba(165, 42, 42, .45);
	--border-color: rgba(165, 42, 42, .45);
	--box-shadow-color: rgba(165, 42, 42, .45);
	--bg-hover-color: rgba(165, 42, 42, .85);
	--bg-active-color: rgba(165, 42, 42, .65);
}
.si-bg-light-gray-lighten-4 {
	--bg-color: rgba(203, 203, 203, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(203, 203, 203, .85);
	--bg-active-color: rgba(203, 203, 203, .65);
}
.si-bg-gray-lighten-4 {
	--bg-color: rgba(128, 128, 128, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(128, 128, 128, .85);
	--bg-active-color: rgba(128, 128, 128, .65);
}
.si-bg-blue-gray-lighten-4 {
	--bg-color: rgba(96, 125, 138, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(96, 125, 138, .85);
	--bg-active-color: rgba(96, 125, 138, .65);
}
.si-bg-white-lighten-4 {
	--bg-color: rgba(255, 255, 255, .45);
	--border-color: rgba(168, 168, 168, .45);
	--box-shadow-color: rgba(168, 168, 168, .45);
	--bg-hover-color: rgba(255, 255, 255, .85);
	--bg-active-color: rgba(255, 255, 255, .65);
}
.si-bg-black-lighten-4 {
	--bg-color: rgba(0, 0, 0, .45);
	--border-color: rgba(0, 0, 0, .45);
	--box-shadow-color: rgba(0, 0, 0, .45);
	--bg-hover-color: rgba(0, 0, 0, .85);
	--bg-active-color: rgba(0, 0, 0, .65);
}
/* bg-lighten-4 END */

/* fg */
.si-fg-red {
	--fg-color: rgba(255, 0, 0, 1);
	--fg-hover-color: rgba(255, 0, 0, .85);
	--fg-active-color: rgba(255, 0, 0, .95);
}
.si-fg-pink {
	--fg-color: rgba(255, 192, 203, 1);
	--fg-hover-color: rgba(255, 192, 203, .85);
	--fg-active-color: rgba(255, 192, 203, .95);
}
.si-fg-light-purple {
	--fg-color: rgba(230, 91, 217, 1);
	--fg-hover-color: rgba(230, 91, 217, .85);
	--fg-active-color: rgba(230, 91, 217, .95);
}
.si-fg-purple {
	--fg-color: rgba(128, 0, 128, 1);
	--fg-hover-color: rgba(128, 0, 128, .85);
	--fg-active-color: rgba(128, 0, 128, .95);
}
.si-fg-deep-purple {
	--fg-color: rgba(103, 58, 102, 1);
	--fg-hover-color: rgba(103, 58, 102, .85);
	--fg-active-color: rgba(103, 58, 102, .95);
}
.si-fg-indigo {
	--fg-color: rgba(75, 0, 130, 1);
	--fg-hover-color: rgba(75, 0, 130, .85);
	--fg-active-color: rgba(75, 0, 130, .95);
}
.si-fg-blue {
	--fg-color: rgba(0, 0, 255, 1);
	--fg-hover-color: rgba(0, 0, 255, .85);
	--fg-active-color: rgba(0, 0, 255, .95);
}
.si-fg-light-blue {
	--fg-color: rgba(3, 168, 243, 1);
	--fg-hover-color: rgba(3, 168, 243, .85);
	--fg-active-color: rgba(3, 168, 243, .95);
}
.si-fg-sky-blue {
	--fg-color: rgba(135, 206, 250, 1);
	--fg-hover-color: rgba(135, 206, 250, .85);
	--fg-active-color: rgba(135, 206, 250, .95);
}
.si-fg-cyan {
	--fg-color: rgba(0, 255, 255, 1);
	--fg-hover-color: rgba(0, 255, 255, .85);
	--fg-active-color: rgba(0, 255, 255, .95);
}
.si-fg-teal {
	--fg-color: rgba(0, 128, 128, 1);
	--fg-hover-color: rgba(0, 128, 128, .85);
	--fg-active-color: rgba(0, 128, 128, .95);
}
.si-fg-green {
	--fg-color: rgba(0, 128, 0, 1);
	--fg-hover-color: rgba(0, 128, 0, .85);
	--fg-active-color: rgba(0, 128, 0, .95);
}
.si-fg-light-green {
	--fg-color: rgba(138, 194, 74, 1);
	--fg-hover-color: rgba(138, 194, 74, .85);
	--fg-active-color: rgba(138, 194, 74, .95);
}
.si-fg-lime {
	--fg-color: rgba(0, 255, 0, 1);
	--fg-hover-color: rgba(0, 255, 0, .85);
	--fg-active-color: rgba(0, 255, 0, .95);
}
.si-fg-yellow {
	--fg-color: rgba(255, 255, 0, 1);
	--fg-hover-color: rgba(255, 255, 0, .85);
	--fg-active-color: rgba(255, 255, 0, .95);
}
.si-fg-amber {
	--fg-color: rgba(254, 192, 7, 1);
	--fg-hover-color: rgba(254, 192, 7, .85);
	--fg-active-color: rgba(254, 192, 7, .95);
}
.si-fg-orange {
	--fg-color: rgba(255, 165, 0, 1);
	--fg-hover-color: rgba(255, 165, 0, .85);
	--fg-active-color: rgba(255, 165, 0, .95);
}
.si-fg-deep-orange {
	--fg-color: rgba(254, 87, 34, 1);
	--fg-hover-color: rgba(254, 87, 34, .85);
	--fg-active-color: rgba(254, 87, 34, .95);
}
.si-fg-brown {
	--fg-color: rgba(165, 42, 42, 1);
	--fg-hover-color: rgba(165, 42, 42, .85);
	--fg-active-color: rgba(165, 42, 42, .95);
}
.si-fg-light-gray {
	--fg-color: rgba(203, 203, 203, 1);
	--fg-hover-color: rgba(203, 203, 203, .85);
	--fg-active-color: rgba(203, 203, 203, .95);
}
.si-fg-gray {
	--fg-color: rgba(128, 128, 128, 1);
	--fg-hover-color: rgba(128, 128, 128, .85);
	--fg-active-color: rgba(128, 128, 128, .95);
}
.si-fg-blue-gray {
	--fg-color: rgba(96, 125, 138, 1);
	--fg-hover-color: rgba(96, 125, 138, .85);
	--fg-active-color: rgba(96, 125, 138, .95);
}
.si-fg-white {
	--fg-color: rgba(255, 255, 255, 1);
	--fg-hover-color: rgba(255, 255, 255, .85);
	--fg-active-color: rgba(255, 255, 255, .95);
}
.si-fg-black {
	--fg-color: rgba(0, 0, 0, 1);
	--fg-hover-color: rgba(0, 0, 0, .85);
	--fg-active-color: rgba(0, 0, 0, .95);
}
/* fg END */
