/* 这里使用layui的图标字体 https://github.com/sentsin/layui */
@font-face {
    font-family: 'si-icon';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot') format('embedded-opentype'),
            url('../font/iconfont.woff2') format('woff2'),
            url('../font/iconfont.woff') format('woff'),
            url('../font/iconfont.ttf') format('truetype'),
            url('../font/iconfont.svg') format('svg');
}

.si-icon{
    display: inline-block;
    font-family:"si-icon" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.si-icon-reply-fill:before{content:"\e611"}
.si-icon-set-fill:before{content:"\e614"}
.si-icon-menu-fill:before{content:"\e60f"}
.si-icon-search:before{content:"\e615"}
.si-icon-share:before{content:"\e641"}
.si-icon-set-sm:before{content:"\e620"}
.si-icon-engine:before{content:"\e628"}
.si-icon-close:before{content:"\1006"}
.si-icon-close-fill:before{content:"\1007"}
.si-icon-chart-screen:before{content:"\e629"}
.si-icon-star:before{content:"\e600"}
.si-icon-circle-dot:before{content:"\e617"}
.si-icon-chat:before{content:"\e606"}
.si-icon-release:before{content:"\e609"}
.si-icon-list:before{content:"\e60a"}
.si-icon-chart:before{content:"\e62c"}
.si-icon-ok-circle:before{content:"\1005"}
.si-icon-layim-theme:before{content:"\e61b"}
.si-icon-table:before{content:"\e62d"}
.si-icon-right:before{content:"\e602"}
.si-icon-left:before{content:"\e603"}
.si-icon-cart-simple:before{content:"\e698"}
.si-icon-face-cry:before{content:"\e69c"}
.si-icon-face-smile:before{content:"\e6af"}
.si-icon-survey:before{content:"\e6b2"}
.si-icon-tree:before{content:"\e62e"}
.si-icon-ie:before{content:"\e7bb"}
.si-icon-upload-circle:before{content:"\e62f"}
.si-icon-add-circle:before{content:"\e61f"}
.si-icon-download-circle:before{content:"\e601"}
.si-icon-templeate-1:before{content:"\e630"}
.si-icon-util:before{content:"\e631"}
.si-icon-face-surprised:before{content:"\e664"}
.si-icon-edit:before{content:"\e642"}
.si-icon-speaker:before{content:"\e645"}
.si-icon-down:before{content:"\e61a"}
.si-icon-file:before{content:"\e621"}
.si-icon-layouts:before{content:"\e632"}
.si-icon-rate-half:before{content:"\e6c9"}
.si-icon-add-circle-fine:before{content:"\e608"}
.si-icon-prev-circle:before{content:"\e633"}
.si-icon-read:before{content:"\e705"}
.si-icon-404:before{content:"\e61c"}
.si-icon-carousel:before{content:"\e634"}
.si-icon-help:before{content:"\e607"}
.si-icon-code-circle:before{content:"\e635"}
.si-icon-windows:before{content:"\e67f"}
.si-icon-water:before{content:"\e636"}
.si-icon-username:before{content:"\e66f"}
.si-icon-find-fill:before{content:"\e670"}
.si-icon-about:before{content:"\e60b"}
.si-icon-location:before{content:"\e715"}
.si-icon-up:before{content:"\e619"}
.si-icon-pause:before{content:"\e651"}
.si-icon-date:before{content:"\e637"}
.si-icon-layim-uploadfile:before{content:"\e61d"}
.si-icon-delete:before{content:"\e640"}
.si-icon-play:before{content:"\e652"}
.si-icon-top:before{content:"\e604"}
.si-icon-firefox:before{content:"\e686"}
.si-icon-friends:before{content:"\e612"}
.si-icon-refresh-3:before{content:"\e9aa"}
.si-icon-ok:before{content:"\e605"}
.si-icon-layer:before{content:"\e638"}
.si-icon-face-smile-fine:before{content:"\e60c"}
.si-icon-dollar:before{content:"\e659"}
.si-icon-group:before{content:"\e613"}
.si-icon-layim-download:before{content:"\e61e"}
.si-icon-picture-fine:before{content:"\e60d"}
.si-icon-link:before{content:"\e64c"}
.si-icon-diamond:before{content:"\e735"}
.si-icon-log:before{content:"\e60e"}
.si-icon-key:before{content:"\e683"}
.si-icon-rate-solid:before{content:"\e67a"}
.si-icon-fonts-del:before{content:"\e64f"}
.si-icon-unlink:before{content:"\e64d"}
.si-icon-fonts-clear:before{content:"\e639"}
.si-icon-triangle-r:before{content:"\e623"}
.si-icon-circle:before{content:"\e63f"}
.si-icon-radio:before{content:"\e643"}
.si-icon-align-center:before{content:"\e647"}
.si-icon-align-right:before{content:"\e648"}
.si-icon-align-left:before{content:"\e649"}
.si-icon-loading-1:before{content:"\e63e"}
.si-icon-return:before{content:"\e65c"}
.si-icon-fonts-strong:before{content:"\e62b"}
.si-icon-upload:before{content:"\e67c"}
.si-icon-dialogue:before{content:"\e63a"}
.si-icon-video:before{content:"\e6ed"}
.si-icon-headset:before{content:"\e6fc"}
.si-icon-cellphone-fine:before{content:"\e63b"}
.si-icon-add-1:before{content:"\e654"}
.si-icon-face-smile-b:before{content:"\e650"}
.si-icon-fonts-html:before{content:"\e64b"}
.si-icon-screen-full:before{content:"\e622"}
.si-icon-form:before{content:"\e63c"}
.si-icon-cart:before{content:"\e657"}
.si-icon-camera-fill:before{content:"\e65d"}
.si-icon-tabs:before{content:"\e62a"}
.si-icon-heart-fill:before{content:"\e68f"}
.si-icon-fonts-code:before{content:"\e64e"}
.si-icon-ios:before{content:"\e680"}
.si-icon-at:before{content:"\e687"}
.si-icon-fire:before{content:"\e756"}
.si-icon-set:before{content:"\e716"}
.si-icon-fonts-u:before{content:"\e646"}
.si-icon-triangle-d:before{content:"\e625"}
.si-icon-tips:before{content:"\e702"}
.si-icon-picture:before{content:"\e64a"}
.si-icon-more-vertical:before{content:"\e671"}
.si-icon-bluetooth:before{content:"\e689"}
.si-icon-flag:before{content:"\e66c"}
.si-icon-loading:before{content:"\e63d"}
.si-icon-fonts-i:before{content:"\e644"}
.si-icon-refresh-1:before{content:"\e666"}
.si-icon-rmb:before{content:"\e65e"}
.si-icon-addition:before{content:"\e624"}
.si-icon-home:before{content:"\e68e"}
.si-icon-time:before{content:"\e68d"}
.si-icon-user:before{content:"\e770"}
.si-icon-notice:before{content:"\e667"}
.si-icon-chrome:before{content:"\e68a"}
.si-icon-edge:before{content:"\e68b"}
.si-icon-login-weibo:before{content:"\e675"}
.si-icon-voice:before{content:"\e688"}
.si-icon-upload-drag:before{content:"\e681"}
.si-icon-login-qq:before{content:"\e676"}
.si-icon-snowflake:before{content:"\e6b1"}
.si-icon-heart:before{content:"\e68c"}
.si-icon-logout:before{content:"\e682"}
.si-icon-file-b:before{content:"\e655"}
.si-icon-template:before{content:"\e663"}
.si-icon-transfer:before{content:"\e691"}
.si-icon-auz:before{content:"\e672"}
.si-icon-console:before{content:"\e665"}
.si-icon-app:before{content:"\e653"}
.si-icon-prev:before{content:"\e65a"}
.si-icon-website:before{content:"\e7ae"}
.si-icon-next:before{content:"\e65b"}
.si-icon-component:before{content:"\e857"}
.si-icon-android:before{content:"\e684"}
.si-icon-more:before{content:"\e65f"}
.si-icon-login-wechat:before{content:"\e677"}
.si-icon-shrink-right:before{content:"\e668"}
.si-icon-spread-left:before{content:"\e66b"}
.si-icon-camera:before{content:"\e660"}
.si-icon-note:before{content:"\e66e"}
.si-icon-refresh:before{content:"\e669"}
.si-icon-female:before{content:"\e661"}
.si-icon-male:before{content:"\e662"}
.si-icon-screen-restore:before{content:"\e758"}
.si-icon-password:before{content:"\e673"}
.si-icon-senior:before{content:"\e674"}
.si-icon-theme:before{content:"\e66a"}
.si-icon-tread:before{content:"\e6c5"}
.si-icon-praise:before{content:"\e6c6"}
.si-icon-star-fill:before{content:"\e658"}
.si-icon-rate:before{content:"\e67b"}
.si-icon-template-1:before{content:"\e656"}
.si-icon-vercode:before{content:"\e679"}
.si-icon-service:before{content:"\e626"}
.si-icon-cellphone:before{content:"\e678"}
.si-icon-print:before{content:"\e66d"}
.si-icon-cols:before{content:"\e610"}
.si-icon-wifi:before{content:"\e7e0"}
.si-icon-export:before{content:"\e67d"}
.si-icon-rss:before{content:"\e808"}
.si-icon-slider:before{content:"\e714"}
.si-icon-email:before{content:"\e618"}
.si-icon-subtraction:before{content:"\e67e"}
.si-icon-mike:before{content:"\e6dc"}
.si-icon-light:before{content:"\e748"}
.si-icon-gift:before{content:"\e627"}
.si-icon-mute:before{content:"\e685"}
.si-icon-reduce-circle:before{content:"\e616"}
.si-icon-music:before{content:"\e690"}
